{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
<!-- Button trigger modal -->
{# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> #}

<!-- Modal -->
<div class="modal fade" id="cupcakeModal" tabindex="-1" aria-labelledby="cupcakeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cupcakeModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid row">
            <div class="col cupcake-img"></div>
            <div class="col cupcake-details"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center">
    <h1 class="display-1">Cupcakes</h1>
    
    <div class="col col-md-6 mx-auto mb-3 p-2 border border-5 rounded border-info-subtle text-start" id="cupcake-form">
        <form id="cupcake-add-form">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <p>
            {{ field.label(class_='form-label') }}
            {{ field(class_='form-control') }}

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
            </p>
        {% endfor %}
        <div class="d-grid">
            <button type="submit" class="btn btn-success">Add Cupcake</button>
        </div>
        
        </form>

    </div>

    {# search bar below #}
    <div class="col col-md-6 mx-auto mb-3 p-2 border border-5 rounded border-secondary-subtle text-start">
        <form action="#">
            <div class="container row">
        
                <label class="visually-hidden" for="search-cupcake">Search Bar</label>
                <div class="col col-lg-10">
                    <input class="form-control" id="search-cupcake" type="text" placeholder="Search cupcakes...">
                </div>
                <div class="d-grid col-lg-2">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>   
        </form>
    </div>

    <div class="col col-md-6 m-auto border border-5 rounded border-info-subtle">
        <ul class="list-group">
        </ul>
    </div>
    
</div>



{% endblock %}